registry=http://127.0.0.1:8081/repository/npm-all/
@sber-sbertransport:registry=http://127.0.0.1:8081/repository/npm-release/
always-auth=true
strict-ssl=false
tag-version-prefix=v
message=chore(ver): %s
loglevel=warn