$white: #ffffff;
$dark-grey: #262626;
$silver: #e0e0e0;
$pale-grey: #909090;
$jade: #10bf6a;
$light-jade: #31cc7c;
$turquoise: #b7ecd2;
$light-red: #ff5743;
$light-green: #e7f9f0;
$solitude: #f2f3f6;
$green: #0ea85d;
$charcoal: #737373;
$peach: #ffcdc7;
$grey: #d6d6d6;
$light-grey: #f2f2f2;
$athens-gray: #f2f2f3;
$light-sea-grey: #e5e5e5;
