@import '../../styles/varibles.scss';

.Link {
  padding: 0;
  height: auto;
  border: 0;
  background: none;
  box-shadow: none;

  &.disabled {
    color: 'rgba(16, 191, 106, 0.4)';
  }

  &.small,
  &.middle,
  &.large {
    padding: 0;
  }

}
