$kitPrefix: 'sbt-kit'; // Префикс как в ConfigProvider

$font-family: 'SB Sans Text', sans-serif;

$font-size: 14px;

$color-green: #10bf6a;

$dark-grey: #262626;
$pale-grey: #909090;

$border-color: #e5e5e5;

$color-red: #ff5743;

$color-orange: #ff9a32;
