dist/*
!dist/index.js
storybook-static

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
nbproject

lefthook-local.yml

$Recycle.Bin
*.swp
*.*~
\#*\#
*\.\#*
*___jb_old___
*___jb_tmp___
.tern-port
compiled
*.iml
errorShots
*.DS_Store
.yarn
_*
