.idea
.editorconfig
.eslintrc.js
yarn-error.log
yarn-debug.log

Jenkinsfile
sonar-project.properties
.scannerwork

.eslintrc.j

test

Checkmarx
.scannerwork
Jenkinsfile
sonar-project.properties
.scannerwork
