@import '../../../styles/varibles.scss';

.ColoredSlider {
  display: flex;
  box-sizing: border-box;
  width: 380px;
  height: 40px;
  align-items: center;
  border: 1px solid gray;
  padding: 8px 24px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: none;

  &__min, &__max {
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  &__min {
    color: #ff5743;
    margin-right: 14px;
  }

  &__max {
    color: #10bf6a;
    margin-left: 14px;
  }

  &__wrapper {
    width: 100%;
    height: 8px;
    display: flex;
    position: relative;

    .slider {
      position: absolute;
      left: -4px;
      top: -17px;
      width: 100%;
      border-color: transparent;
  
      & :global {
        .#{$kitPrefix}-slider-rail,
        .#{$kitPrefix}-slider-track {
          visibility: hidden;
        }
        .#{$kitPrefix}-slider-handle {
          color: #909090;
          top: -6px;
          width: 24px;
          height: 24px;
          border-radius: 12px;
          border: 1px solid #e0e0e0;
          background-color: #ffffff;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 4px 8px -2px rgba(0, 0, 0, 0.12);

          &::before, &::after {
            display: none;
          }
        }
      }
  
      &__leftPart {
        background-color: #ff5743;
        border-radius: 4px 0 0 4px;
      }
      &__centerPart {
        background-color: #ffc914;
      }
      &__rightPart {
        background-color: #10bf6a;
        border-radius: 0 4px 4px 0;
      }
    
      &__leftValue,
      &__rightValue {
        position: absolute;
        font-family: 'SB Sans Text';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        color: #909090;
        top: -3px;
        pointer-events: none;
      }
    }
  }
}