@import '../../styles/varibles.scss';

.Text {
  &.small,
  &.middle,
  &.large {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.Title {
  &.small,
  &.middle,
  &.large {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.Paragraph {
  &.small,
  &.middle,
  &.large {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}